$typography-main: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typography-title: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
$typography-general: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Variables
$breakpoint-xs: 370px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
   background-color: #000000;
}

html {
   font-size: 62.5%;
}