// Variables
$breakpoint-xs: 370px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;


// Importamos los archivos CSS necesarios
@import '../css/styleIndex/styleIndex.css';


// Estilos para la navegación
nav {
  position: fixed;
  left: 50%;
  bottom: 3rem;
  display: block;
  border-radius: 3rem;
  padding: 1.6rem 3rem;
  z-index: 2;
  backdrop-filter: blur(13px);
  background: rgba(0, 0, 0, .3);
  transform: translateX(-50%);
  width: -webkit-max-content;
  width: max-content;
  -webkit-transform: translateX(-50%);
  -webkit-backdrop-filter: blur(13px);

  .menu {
    flex: 1;

    ul {
      display: flex;
      justify-content: center;
      list-style: none;
      align-items: center;
      margin: 0;

      li {
        margin: 0 1rem;
        position: relative;

        a {
          color: #ff0266;
          text-decoration: none;
          font-size: 1.6rem;
          font-weight: 500;
          margin: auto 16px;

          &:hover {
            color: #03dac6;
            text-decoration: underline;
          }
        }
      }
    }
  }

  @media (max-width: 480px) {
    padding: 1.2rem 2.4rem;
    font-size: 1.2rem;

    .menu {
      ul {
        li {
          a {
            margin: auto 8px;
            font-size: 1rem;
          }
        }
      }
    }
  }

  @media (max-width: $breakpoint-xs) {
    .menu {
      display: none;
    }
  }
}


// Estilos para el header
#image-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  opacity: 0.6;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    display: block;
  }
}


// Estilos para el contenedor
.container-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #ff0266;
  z-index: 1;

  h1 {
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
  }

  p {
    font-size: 1.6rem;
    font-weight: 500;
    margin: 0;
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 3rem;
    }

    p {
      font-size: 1.2rem;
    }
  }

  @media (max-width: 576px) {
    h1 {
      font-size: 2.5rem;
    }

    p {
      font-size: 1rem;
    }
  }
}


